<div class="ui grid container">
  <div class="ui icon message">
    <i class="search icon"></i>
    <div class="content">
      <div class="header">
        Não há itens cadastrados
      </div>
    </div>
  </div>
</div>
