<p id="notice"><%= notice %></p>

<h1>Itens</h1><br>

  <% if @todo_lists.any? %>  
    <%= render 'index_form', todo_lists: @todo_lists %> <br>
  <% else %>
    <%= render 'no_todo_list' %> <br>
  <% end %>
<br>

<%= link_to 'Novo Item', new_todo_list_path %>
