<div>
  <div class="ui tree cards">
    <div class="teal card">
      <div class="content">
        <div class="header">
          Total de Requisições efetuadas
        </div>
        <div class="meta">
          Retorna a quantidade total de requisições efetuadas
        </div>
        <div class="description">
          <span class="right floated">
          98
          </span>
        </div>
      </div>
    </div>

    <div class="blue card">
      <div class="content">
        <div class="header">
          Total de Requisições efetuadas
        </div>
        <div class="meta">
          Retorna a quantidade total de requisições efetuadas
        </div>
        <div class="description">
          <span class="right floated">
          98
          </span>
        </div>
      </div>
    </div>

    <div class="red card">
      <div class="content">
        <div class="header">
          Total de Requisições efetuadas
        </div>
        <div class="meta">
          Retorna a quantidade total de requisições efetuadas
        </div>
        <div class="description">
          <span class="right floated">
          98
          </span>
        </div>
      </div>
    </div>
  </div>