<h3 class="ui dividing header">
  Métricas de requisições
</h3>

<div>
  <div class="ui two cards">
    <div class="teal card">
      <div class="content">
        <div class="header">
        </div>
        <div class="meta">
          Retorna a quantidade de requisições por destino
        </div>
        <div class="description">
          <%= render 'qt_controllers' %>
        </div>
        <br>
        <div>
        <br>
          <%= pie_chart Metric.qt_controllers,
              colors: ["#71cfae", "#73F273", "#A2F6A2", "#005500"]
          %>
        </div>
      </div>
    </div>

    <div class="blue card">
      <div class="content">
        <div class="header">
        </div>
        <div class="meta">
          Retorna a quantidade pelo tipo de ação
        </div>
        <div class="description">
          <%= render 'qt_action' %>
        </div>
        <br>
        <div>
        <br>
          <%= bar_chart Metric.qt_action,
              colors: [ "#7ABDD4","#A2F6A2"]
          %>
        </div>
      </div>
    </div>
  </div>
</div>