<div>
  <div class="ui two cards">
    <div class="teal card">
      <div class="content">
        <div class="header">
        </div>
        <div class="meta">
          Retorna a quantidade de requisições por destino
        </div>
        <div class="description">
          <%= render 'qt_controllers' %>
        </div>
      </div>
    </div>

    <div class="blue card">
      <div class="content">
        <div class="header">
        </div>
        <div class="meta">
          Retorna a quantidade pelo tipo de ação
        </div>
        <div class="description">
          <%= render 'qt_action' %>
        </div>
      </div>
    </div>
  </div>
</div>