<div class="ui orange inverted menu">
  <div class="ui container">
    <%= link_to 'ToDo', root_path, class: 'header item blue' %>

    <%= link_to 'Tarefas', todo_lists_path, class: 'ui item' %>
    <%= link_to 'Metricas', metrics_path, class: 'ui item' %>
  </div>
</div>